.errorMessage {
  position: fixed;
  bottom: 24px;
  right: 24px;
  z-index: 100;
  color: black;
  background: #ececec;
  border-radius: 8px;
  padding: 24px;
}

.message {
  margin-top: 0;
  margin-bottom: 12px;
}
